Service References/ReportService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Astrodon.Reports.ManagementReportCoverPage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Astrodon.Reports.ManagementReportCoverPage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTOCDataItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TOCDataItem" nillable="true" type="tns:TOCDataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTOCDataItem" nillable="true" type="tns:ArrayOfTOCDataItem" />
  <xs:complexType name="TOCDataItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TOCDataItem" nillable="true" type="tns:TOCDataItem" />
</xs:schema>