Service References/ReportService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts.Maintenance" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Astrodon.Reports.ManagementReportCoverPage" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Astrodon.DebitOrder" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Astrodon.Reports.LevyRoll" />
  <xs:element name="LevyRollReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processMonth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LevyRollReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LevyRollReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LevyRollExcludeSundries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processMonth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LevyRollExcludeSundriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LevyRollExcludeSundriesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buildingId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="supplierId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaintenanceReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts" minOccurs="0" name="reportType" type="q1:MaintenanceReportType" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaintenanceReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaintenanceReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MissingMaintenanceRecordsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MissingMaintenanceRecordsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts.Maintenance" minOccurs="0" name="MissingMaintenanceRecordsGetResult" nillable="true" type="q2:ArrayOfPastelMaintenanceTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequisitionBatchReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requisitionBatchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequisitionBatchReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequisitionBatchReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagementPackCoverPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processMonth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agent" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Astrodon.Reports.ManagementReportCoverPage" minOccurs="0" name="tocDataItems" nillable="true" type="q3:ArrayOfTOCDataItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagementPackCoverPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManagementPackCoverPageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsuranceSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsuranceScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsuranceScheduleResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunDebitOrderForBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="processMonth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="showFeeBreakdown" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunDebitOrderForBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Astrodon.DebitOrder" minOccurs="0" name="RunDebitOrderForBuildingResult" nillable="true" type="q4:ArrayOfDebitOrderItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonthlyReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processMonth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="completedItems" type="xs:boolean" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonthlyReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MonthlyReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAllocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAllocationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerStatementParameterLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numberOfMonths" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerStatementParameterLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Astrodon.Reports.LevyRoll" minOccurs="0" name="CustomerStatementParameterLookupResult" nillable="true" type="q5:ArrayOfPeriodItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildingBalancesGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processMonth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buildingDataPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildingBalancesGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts" minOccurs="0" name="BuildingBalancesGetResult" nillable="true" type="q6:ArrayOfBuildingClosingBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>