Service References/ReportService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="MaintenanceReportType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SummaryReport" />
      <xs:enumeration value="DetailedReport" />
      <xs:enumeration value="DetailedReportWithSupportingDocuments" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MaintenanceReportType" nillable="true" type="tns:MaintenanceReportType" />
  <xs:complexType name="PervasiveItem">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="PervasiveItem" nillable="true" type="tns:PervasiveItem" />
  <xs:complexType name="ArrayOfBuildingClosingBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuildingClosingBalance" nillable="true" type="tns:BuildingClosingBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuildingClosingBalance" nillable="true" type="tns:ArrayOfBuildingClosingBalance" />
  <xs:complexType name="BuildingClosingBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Due" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpeningBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Period" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildingClosingBalance" nillable="true" type="tns:BuildingClosingBalance" />
</xs:schema>