Service References/ReportService/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Astrodon.Reports.LevyRoll" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Astrodon.Reports.LevyRoll" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPeriodItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeriodItem" nillable="true" type="tns:PeriodItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodItem" nillable="true" type="tns:ArrayOfPeriodItem" />
  <xs:complexType name="PeriodItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosingBalance" type="xs:double" />
      <xs:element minOccurs="0" name="End" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OpeningBalance" type="xs:double" />
      <xs:element minOccurs="0" name="PeriodNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodItem" nillable="true" type="tns:PeriodItem" />
</xs:schema>