Service References/ReportService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts.Maintenance" />
  <xs:element name="LevyRollReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processMonth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LevyRollReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LevyRollReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LevyRollExcludeSundries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processMonth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LevyRollExcludeSundriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LevyRollExcludeSundriesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaintenanceReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts" minOccurs="0" name="reportType" type="q1:MaintenanceReportType" />
        <xs:element minOccurs="0" name="processMonth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaintenanceReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaintenanceReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MissingMaintenanceRecordsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MissingMaintenanceRecordsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Astrodon.DataContracts.Maintenance" minOccurs="0" name="MissingMaintenanceRecordsGetResult" nillable="true" type="q2:ArrayOfPastelMaintenanceTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>