Service References/ReportService/item7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Astrodon.CustomerMaintenance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Astrodon.CustomerMaintenance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerCategory" nillable="true" type="tns:CustomerCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerCategory" nillable="true" type="tns:ArrayOfCustomerCategory" />
  <xs:complexType name="CustomerCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerCategory" nillable="true" type="tns:CustomerCategory" />
</xs:schema>